{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "dashboard.css" %}" rel="stylesheet">
  </head>
<body>
<form action="/p_dashboard/" method="POST">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-apple" aria-hidden="true"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
			<li>
			<a href="/manage_patientProfile/" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
			<ul class="dropdown-menu">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<a class="dropdown-item" href="#">Something else here</a>
			</ul>
			</li>
			</ul>
		</div>
		</div>
		</div>
	</nav>

<div class="container-fluid">
    </br>
      <div class="row">
        <div class="col-xs-3 col-sm-2 sidebar">
          <ul class="nav nav-sidebar">
          </br></br>
            <li class="active"><a href="#">Overview<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Hospitals</a></li>
            <li><a href="#">Doctors</a></li>
			<li><a href="/manage_appointments/">Manage Appointments</a></li>
            <li><a href="">Settings</a></li>
          </ul>
        </div>
        <div class="col-xs-9 col-sm-10 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static "image/tulips.jpg" %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Hospitals</h4>
              <span class="text-muted">Hospitals</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static "image/tulips.jpg" %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Doctors</h4>
              <span class="text-muted">Doctors</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static "image/tulips.jpg" %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Patients</h4>
              <span class="text-muted">Patients</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static "image/tulips.jpg" %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Appointments</h4>
              <span class="text-muted">Appointments</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Patient Name</th>
                  <th>Patient Mobile Number</th>
                  <th>Patient Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</form>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="[% static "js/bootstrap.min.js" %}"></script>
    <!-- <script src="{% static "js/vendor/holder.min.js" %}"></script> -->
  </body>
</html>